<p><button onclick="drawCustomShape();"> narysuj obrys </button>&nbsp;<button onclick="removeCustomShape();"> usuń z mapy i skasuj współrzędne</button>&nbsp;<button style="margin-left:100px;" onclick="saveCustomShape();"> Zapisz nowy kształt</button></p>
<p>Kliknięto:&nbsp;<span id="mapAttribData"></span></p>
<p>Obecne koordynaty:&nbsp;<span id="mapGraveShapeData"></span></p>
<p>Nowe koordynaty:&nbsp;<span id="mapShapeData"></span></p>
