@model CemeteryWeb.Models.SearchModel

<script>
	function searchGrave(e) {
		var valName = $("#Name").val();
		var valSurname = $("#Surname").val();

		$.ajax({
			type: "POST",
			url: '/Search/SearchGrave',
			data: { namePerson: valName, surnamePerson: valSurname },
			success: function (data, textStatus, jqXHR) {
				$('#graveInfo').html(data);
			},
			error: function (a, b, c) {
				alert("Wystąpił bład podczas pobierania danych. Proszę skonatkować się ze wsparciem aplikacji")
			}
		});
	}
</script>

<div class="row">
	<div class="col-md-7">
		<h3>Mapa/Zdjecie</h3>
	</div>
	<div class="col-md-5">
		<div class="row">
			<div class="col-md-10">
				<h3>Wyszukiwarka Osób Zmarłych</h3><br />
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<div class="form-group">
					@Html.LabelFor(m => m.Name, htmlAttributes: new { @class = "control-label", @style = "color:gray" })<br />
					@Html.TextBoxFor(m => m.Name, htmlAttributes: new { placeholder = "Wprowadź imię", @style = "padding: 7px; width: 250px; border:1px solid lightgray;border-radius:3px;border-color:lightgray" })
				</div>
			</div>
			<div class="col-md-5">
				<div class="form-group">
					@Html.LabelFor(m => m.Surname, htmlAttributes: new { @class = "control-label", @style = "color:gray" })<br />
					@Html.TextBoxFor(m => m.Surname, htmlAttributes: new { placeholder = "Wprowadź nazwisko", @style = "padding: 7px; width: 250px; border:1px solid lightgray;border-radius:3px;border-color:lightgray" })
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
			</div>
			<div class="col-md-2">
				<button class="w-100 btn btn-md btn-primary" type="button" onclick="searchGrave()">Wyszukaj</button>
			</div>
		</div>
		<br /><br />
		<div class="row">
			<div id="graveInfo" class="col-md-11">

			</div>
		</div>
	</div>
</div>