<a href="javascript:void(0)" class="scene" data-id="0-brama-wejciowa-przy-kaplicy">
	<li class="text">Brama wejściowa przy kaplicy</li>
</a>

<a href="javascript:void(0)" class="scene" data-id="1-cieka-od-kaplicy">
	<li class="text">Ścieżka od kaplicy</li>
</a>

<a href="javascript:void(0)" class="scene" data-id="2-cieka-midzy-sektorem-b-i-c">
	<li class="text">Ścieżka między sektorem B i C</li>
</a>

<a href="javascript:void(0)" class="scene" data-id="3-brama-wejciowa-midzy-sektorami-a-i-b">
	<li class="text">Brama wejściowa między sektorami A i B</li>
</a>

<a href="javascript:void(0)" class="scene" data-id="4-cieka-midzy-sektorami-a-i-b">
	<li class="text">Ścieżka między sektorami A i B</li>
</a>

<a href="javascript:void(0)" class="scene" data-id="5-krzy">
	<li class="text">Krzyż</li>
</a>

<a href="javascript:void(0)" class="scene" data-id="6-cieka-midzy-sektorami-a-i-b---koniec">
	<li class="text">Ścieżka między sektorami A i B - koniec</li>
</a>