@{
	ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>
<img src="..\Images\logo-clean-sm.png" />
<br />
<address>
	Parafia Rzymsko - Katolicka P.W. Swietych Apostolow Piotr i Pawła<br />
	Sieniawa Żarska 39<br />
	68-213 Lipinki Łużycki, LUBUSKIE<br />
	NIP: 9281140742<br />
</address>
