<style>
	.gallery {
		padding: 10px;
	}
</style>

@{
	ViewBag.Title = "Galeria";
}
<h2>@ViewBag.Title</h2>

<div class="row">
	<div class="col-md-3 gallery">
		<a target="_blank" href="~/Images/Gallery/0G5A4905.jpg"><img src="~/Images/Gallery/0G5A4905.jpg" style="width: 100%;" /></a>
	</div>
	<div class="col-md-3 gallery">
		<a target="_blank" href="~/Images/Gallery/0G5A5182.jpg"><img src="~/Images/Gallery/0G5A5182.jpg" style="width: 100%;" /></a>
	</div>
	<div class="col-md-3 gallery">
		<a target="_blank" href="~/Images/Gallery/0G5A5305.jpg"><img src="~/Images/Gallery/0G5A5305.jpg" style="width: 100%;" /></a>
	</div>
	<div class="col-md-3 gallery">
		<a target="_blank" href="~/Images/Gallery/0G5A5310.jpg"><img src="~/Images/Gallery/0G5A5310.jpg" style="width: 100%;" /></a>
</div>
</div>

<div class="row">
	<div class="col-md-3 gallery">
		<a target="_blank" href="~/Images/Gallery/0G5A5411.jpg"><img src="~/Images/Gallery/0G5A5411.jpg" style="width: 100%;" /></a>
	</div>
	<div class="col-md-3 gallery">
		<a target="_blank" href="~/Images/Gallery/0G5A5412.jpg"><img src="~/Images/Gallery/0G5A5412.jpg" style="width: 100%;" /></a>
	</div>
	<div class="col-md-3 gallery">
		<a target="_blank" href="~/Images/Gallery/0G5A5488.jpg"><img src="~/Images/Gallery/0G5A5488.jpg" style="width: 100%;" /></a>
	</div>
	<div class="col-md-3 gallery">
		<a target="_blank" href="~/Images/Gallery/0G5A5490.jpg"><img src="~/Images/Gallery/0G5A5490.jpg" style="width: 100%;" /></a>
	</div>
</div>

<div class="row">
	<div class="col-md-3 gallery">
		<a target="_blank" href="~/Images/Gallery/0G5A5493.jpg"><img src="~/Images/Gallery/0G5A5493.jpg" style="width: 100%;" /></a>
	</div>
	<div class="col-md-3 gallery">
		<a target="_blank" href="~/Images/Gallery/0G5A5972.jpg"><img src="~/Images/Gallery/0G5A5972.jpg" style="width: 100%;" /></a>
	</div>
	<div class="col-md-3 gallery">
		<a target="_blank" href="~/Images/Gallery/0G5A5964.jpg"><img src="~/Images/Gallery/0G5A5964.jpg" style="width: 100%;" /></a>
	</div>
	<div class="col-md-3 gallery">
		<a target="_blank" href="~/Images/Gallery/0G5A5965.jpg"><img src="~/Images/Gallery/0G5A5965.jpg" style="width: 100%;" /></a>
	</div>
</div>

<div class="row">
	<div class="col-md-3 gallery">
		<a target="_blank" href="~/Images/Gallery/0G5A5973.jpg"><img src="~/Images/Gallery/0G5A5973.jpg" style="width: 100%;" /></a>
	</div>
	<div class="col-md-3 gallery">
		<a target="_blank" href="~/Images/Gallery/3Q5A0031.jpg"><img src="~/Images/Gallery/3Q5A0031.jpg" style="width: 100%;" /></a>
	</div>
	<div class="col-md-3 gallery">
		<a target="_blank" href="~/Images/Gallery/3Q5A0037.jpg"><img src="~/Images/Gallery/3Q5A0037.jpg" style="width: 100%;" /></a>
	</div>
	<div class="col-md-3 gallery">
		<a target="_blank" href="~/Images/Gallery/3Q5A0064.jpg"><img src="~/Images/Gallery/3Q5A0064.jpg" style="width: 100%;" /></a>
	</div>
</div>

<div class="row">
	<div class="col-md-3 gallery">
		<a target="_blank" href="~/Images/Gallery/3Q5A0065.jpg"><img src="~/Images/Gallery/3Q5A0065.jpg" style="width: 100%;" /></a>
	</div>
	<div class="col-md-3 gallery">
		<a target="_blank" href="~/Images/Gallery/3Q5A0066.jpg"><img src="~/Images/Gallery/3Q5A0066.jpg" style="width: 100%;" /></a>
	</div>
	<div class="col-md-3 gallery">
		<a target="_blank" href="~/Images/Gallery/3Q5A0118.jpg"><img src="~/Images/Gallery/3Q5A0118.jpg" style="width: 100%;" /></a>
	</div>
	<div class="col-md-3 gallery">
		<a target="_blank" href="~/Images/Gallery/3Q5A0145.jpg"><img src="~/Images/Gallery/3Q5A0145.jpg" style="width: 100%;" /></a>
	</div>
</div>

