
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Strona główna</title>
</head>
<body>
	<center>
		<br /><br /><br />
		<h1>
			<img src="..\Images\logo-clean-sm.png" /><br />
			Strona<br />
			Parafia Rzymsko - Katolicka P.W. Świetych Apostołów Piotra i Pawła<br />
			w przygotowaniu<br />
		</h1>
		<br /><br />
		<h3>Copyright 2023</h3>
	</center>
</body>
</html>
